// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$orange: #ff6f61;
$gray: #777777;
$light-gray: #e5e5e5;
$dark-gray: #333333;
$body-color: rgb(240,240,240);
