<div class="footer">
  <div>
    <div class="text-center">
      <h5><strong>Sign up to our newsletter</strong></h5>
      <input type="text" placeholder="Email address" class="newsteller-input">
    </div>
    <div class="grid-footer-info">
      <p>Our Story</p>
      <p>FAQ</p>
      <p>Terms & Conditions</p>
      <p>Our Blog</p>
      <p>Contact</p>
      <p>Privacy Policy</p>
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
