// No uunderline in links
a {

  text-decoration: none;

// No uunderline when hover links
}

a:hover {

  text-decoration: none;

}

//Style for black buttons
.button {

  border: solid 2px black;

  padding: 12px 20px;

  background: black;
  color: white;

}

.button:hover {

    border: solid 2px black;

    transition: 0.3s;

    background:white;
    color:black;

}

