// Style for a category card displayed in the views/categories/index.html.erb file
.category-card {

  font-family: $headers-font;
  text-decoration: none;
  transition: 0.3s;
  color: black;

  img {

    object-fit: cover;
    width: 100%;

    // // Box shadow when the div is hovered
    // &:hover {
    //   box-shadow: 0 0 4px 0 $gray;
    // }
  }

  h5 {

    text-align: center;

    font-weight: 700;
    font-size: 20px;

    padding: 24px;

  }

  &:hover {

    text-decoration: none;
    font-weight: bolder;

  }

}

// Style for a design card in views/categories/show.html.erb,
// views/pages/my_designs.html.erb files
.design-card {

  p {

    font-size: 12px;

    margin-top: 16px;
    margin: 0;

  }

  h5 {

    font-family: $headers-font;
    font-weight: 700;
    font-size: 16px;

    color: $dark-gray;

  }

  .design-img {

    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }


    // height: 20%;

    // height: 100%;
  }

  .design-info {

    padding-top: 32px;

  }

}

// Style for the purchase card in views/pages/my_purchases.html.erb file
.purchase-card {

  border: 1px solid $light-gray;
  padding: 24px  32px;
  transition: 0.2s;
  margin: 12px 0;

  &:hover {

    background-color: rgb(250,250,250);
    transition: 0.2s;

  }

}

// Style for the designer card in designers.html.erb file
.designer-card {

  border-right: solid 2px black;

  display: flex;
  align-items: center;

  img {

    object-fit: cover;
    height: 100%;
    width: 80px;

  }

  .designer-card-info {

    padding: 20px;

  }

  &:hover {

    box-shadow: 0 0 2px 0 $gray;

    background: black;
    color: white;

    cursor: pointer;

    transition: 1s;
  }

  p {

    margin: 0;

  }

  &:hover p {

    font-weight: bolder;

  }
}

#name-link {
  &:hover {
    color:black;
  }
}
