// Container to add some margin to the footer.
// Made because problem with the position of the footer,
// it didn't stayed at the bottom
.for-footer-container {

  width: 70%;
  margin: 0 auto;
  margin-bottom: 450px;

  &:focus {

    outline: none;

  }

}

.grid-footer-info {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 160px;
  margin-top: 16px;
  margin-bottom: 32px;


  p {

    text-align: center;
    margin: 0;
    font-weight: bold;

    &:hover {

      color: rgb(220,220,220);
      cursor: pointer;

    }

  }

}

// Grid container for the designers list
.grid-designers {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;

}

// Grid container for the categories and design cards
.grid-container {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px 64px;

  margin: 0 auto;

  // width: 1200px;

}

// Container to display the list of purchases. Made smaller
// container to not mess with .container class of bootstrap
.medium-list-container {

  margin: 0 auto;
  width: 800px;

}

// Container for the forms
.form-container {
  width: 1200px;
  margin: 32px auto;
  border: 2px solid $light-gray;
  padding: 16px 32px;
  background-color: rgb(240,240,240);

  .file-info {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    margin: 8px 0;
  }

  .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: $gray;
  }

  .op fieldset{
    display: flex;
    width: 200px;
  }


}



input .form-check {
  display: inline-block;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
}
