.grid-class {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.designer-card {
  display: flex;
  align-items: center;
  border-right: solid 2px black;

  img {
    height: 100%;
    width: 80px;
    object-fit: cover;
  }

  .designer-card-info {
    padding: 20px;
  }

  &:hover {
    box-shadow: 0 0 2px 0 $gray;
    cursor: pointer;
    color: white;
    background: black;
    transition: 1s;
  }

  p {
    margin: 0;
  }
}

.designer-card:hover p {
  font-weight: bolder;
}
