 .files-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

.form-style {
  padding: 50px;

  h4 {
    color: black;
    margin-bottom: 20px;
  }

  .button {
    width: 100%;
  }

  .form_parts {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: solid 1px $light-gray;
  }
}

.category-choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.category-choice {
  padding: 12px;
  text-align: center;
  border: solid 2px black;

  &:hover {
    cursor: pointer;
  }

  &.active {
    border: solid 2px black;
    background: black;
    color: white;
  }
}

#login-btns {
  margin: 20px 0;
}

.cancel-part {
  margin-top: 50px;
}
