.navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 18px;

  a {
    color: black;
    padding: 12px;
  }

  a:hover {
    border-bottom: solid 1px black;
  }
}

