.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 18px;

  a {
    color: black;
    padding: 12px;
    margin: 0px 12px;
  }

  a:hover {
    border-bottom: solid 1px black;
  }

  .logo_link {
    padding: 0;
  }
}

.logo_part a:hover {
  border: none;
}

.span_link {
  color: white;
  padding: 12px;
  margin-right: 12px;
  background: black;
  border: solid 1px black;

  &:hover {
    color: black;
    background: white;
    cursor: pointer;
  }

  i {
  padding-left: 8px;
  }
}


