// Style for the navbar
.navbar {

  display: flex;
  justify-content: space-between;

  background: white;

  position: sticky;
  top: 0;

  padding: 18px;
  margin-bottom: 32px;

  z-index: 2;

  a {

    color: black;

    margin: 0px 12px;
    padding: 12px;

  }

  a:hover {

    border-bottom: solid 1px black;

  }

  .logo_link {

    padding: 0;

  }

}

.logo_part a:hover {

  border: none;

}

// Style for the span link
.span_link {

  background: black;
  color: white;

  border: solid 1px black;

  padding: 12px;

  &:hover {

    background: white;
    color: black;

    cursor: pointer;

  }

  i {
    padding-left: 8px;
  }
}

.dropdown-menu {
  a:hover {
    background: none;
    border-bottom: none;
    font-weight: bolder;
  }
}


