<div class="main-container">
  <div class="my-container">
    <% @categories.each do |c| %>
      <%= link_to(category_path(c.id), class: 'cat-card') do %>
        <img src="https://images.unsplash.com/photo-1572274738401-abf0ce8c05ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="cat image">
        <h5><%= c.name %></h5>
      <% end %>
    <% end %>
  </div>
</div>

