<div class="main-container">
  <div class="my-container">
    <% @categories.each do |c| %>
      <%= link_to(category_path(c.id), class: 'cat-card') do %>
        <div class="c-img" style="background-image: url('app/images/Categories_images/ctstudio-<%= c.name.upcase %>.jpg')"></div>

        <h5><%= c.name %></h5>
      <% end %>
    <% end %>
  </div>
</div>

