<div class="category_show_title">
  <h2><strong>The Pattern Show</strong></h2>
  <p>
    Explore our catalog <br>
    and find the perfect print to your products
  </p>
</div>

<div class="my-container">
  <% @categories.each do |c| %>
    <%= link_to(category_path(c.id), class: 'category-card') do %>
      <img src="<%= image_url "ctstudio-#{c.name.upcase}.jpg" %>" alt="cat image">
      <h5><%= c.name %></h5>
    <% end %>
  <% end %>
</div>
